<div class="container my-5">
  <h2 class="mb-4">Events</h2>
  <div class="row g-4">
    <div class="col-md-4" *ngFor="let event of events">
      <div class="card h-100 shadow-sm event-card">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ event.name }}</h5>
          <p class="card-text flex-grow-1">{{ event.description }}</p>
          <p><strong>From:</strong> {{ event.start_date | date: 'dd-MMM-yyyy' }} <br><strong>To:</strong> {{ event.end_date  | date: 'dd-MMM-yyyy' }}</p>
          <button (click)="goToCalendar(event.id)" class="btn btn-success mt-3">View Tickets</button>
        </div>
      </div>
    </div>
  </div>
</div>
